@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
* {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(27, 66%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    min-height: 100vh;
}

.head {
    background-color: hsl(10, 79%, 65%);
    padding: 10px 15px;
    border-radius: 15px;
    color: white;
}

.main {
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.my-balance {
    font-weight: 700;
    font-size: 20px;
    margin-top: 3px;
}

.body {
    margin-top: 15px;
    background-color: white;
    padding: 10px 20px;
    border-radius: 15px;
}

.title {
    font-size: 24px;
    font-weight: 700;
    color: hsl(25, 47%, 15%);
    margin-bottom: 20px;
}

.foot {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(170, 166, 166);
}

.total {
    color: hsl(25, 47%, 15%);
    margin-top: 5px;
}

.percentage {
    font-weight: 700;
    color: black;
}

.chart {
    display: flex;
    justify-content: space-between;
    align-items: end;
    text-align: center;
    color: rgb(170, 166, 166);
    margin-bottom: 10px;
}

#bar1,
#bar2,
#bar3,
#bar4,
#bar5,
#bar6,
#bar7 {
    width: 50px;
    background-color: hsl(10, 79%, 65%);
    border-radius: 5px;
    margin-bottom: 10px;
}

#bar1:hover,
#bar2:hover,
#bar3:hover,
#bar4:hover,
#bar5:hover,
#bar6:hover,
#bar7:hover {
    background-color: hsl(10, 83%, 73%);
}

#bar3 {
    background-color: hsl(186, 34%, 60%);
}

#bar3:hover {
    background-color: hsl(186, 66%, 75%);
}

#total {
    color: hsl(25, 60%, 22%);
    font-size: 30px;
}

#show-amount1,
#show-amount2,
#show-amount3,
#show-amount4,
#show-amount5,
#show-amount6,
#show-amount7 {
    background-color: hsl(25, 60%, 22%);
    padding: 5px;
    border-radius: 5px;
    color: white;
    margin-bottom: 10px;
    display: none;
}